	 a:hover{
	  color :yellow;
	  font-size:30px;
	 
	 }
	 .navbar-fixed-top{
	     background-color: 	#6A5ACD;
	 }
	.navbar-default .navbar-nav > li >  a{
	    color: #f9fef7;
		font-weight:bold;
	 }
	 .navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: transparent;
     }
	 
	 .navbar-default .navbar-nav > li > a:hover{
    color: #0bfce2;
    background-color: transparent;
     }
	 ul li{
	  text-decoration:none;
	  text-align:center;
	  display:inline;
	  
	 }
	 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#7B68EE;
   color: white;
   text-align: center;
}
      .icon-background5 {
        color: darkblue;
          }
		  
		  .icon-image {
    color: white;
	
	
}

      #contact{
    background-image: url("3.jpg");
    background-color: #cccccc;
	width:100%;
}
   
    #div1{
		   background-image:url("bac.jpg");
		   width:100%;
		   height:500px;
		   border:2px solid blue;
		   position:relative;
		}
		#div2{
		  height:0px;
		  width:100%;
		  border:1px solid blue;
		  position:absolute;
		  overflow:hidden;
		  background-color:#00ffff;
		  opacity:0.6;
		  -webkit-transition:height 2s;
		  transition:height 2s;
		  text-align:center;
		  color:black;
		  font-size:20px;
		  line-height:50px;
		}
		#div1:hover #div2{
		  height:500px;
		}