<div id="feature" ng-controller="myctrl2">
		<div class="container">
			<div class="row " id="map">
				<div class="text-center">
					<h3>Features</h3>
					<p>We have created a wide array of websites which use a number of useful features to achieve their goals</p>
				</div>
				<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<span class="fa-stack fa-3x">
						  <i class="fa fa-circle fa-stack-2x icon-background5"></i>
						  <i class="fa fa-laptop fa-stack-1x icon-image"></i>
						  </span>						
							<h2>Fully Responsive</h2>
							<p>People inherently lose patience quickly, and that holds true when visiting a website. The longer a website takes to load, the more likely a person will leave before it fully renders. Beautiful graphics and substantial content become useless if a site’s speed hampers its ability to deliver content quickly.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<span class="fa-stack fa-3x">
						  <i class="fa fa-circle fa-stack-2x icon-background5"></i>
						  <i class="fa fa-heart-o fa-stack-1x icon-image"></i>
						  </span>
							<h2>User-friendly Navigation</h2>
							<p> A stellar web design must contain a user-friendly navigation scheme that allows visitors to quickly find the information needed</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
						   <span class="fa-stack fa-3x">
						  <i class="fa fa-circle fa-stack-2x icon-background5"></i>
						  <i class="fa fa-cloud fa-stack-1x icon-image"></i>
						  </span>
							<h2>Easily Customize</h2>
							<p>The variety of browser and platforms which one can now be view web design can present a challenge to developers, but talented ones are accustomed to handling such factors.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<span class="fa-stack fa-3x">
						  <i class="fa fa-circle fa-stack-2x icon-background5"></i>
						  <i class="fa fa-camera fa-stack-1x icon-image"></i>
						  </span>
							<h2>Quality Code</h2>
							<p>There’s one primary reason people use search engines and browse websites, and that is to search for information. People desire information everyday, and want if delivered in a fast and reliable fashion</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>