 <div class="col-sm-8" ng-controller="myctrl7">
				   <div class="row">
				     <div class="col-sm-2"></div>
					 <div class="col-sm-8">
					    <div class="row">
					  <form action="#" method="post">
					    <div class="panel panel-primary">
						  <div class="panel-heading">
						    <div class="panel-title">please login</div>
						  </div>
						
						
					     <div class="panel-body">
						   <div class="row form-group">
						       <div class="col-sm-4"><label>Username/Email</label></div>
							   <div class="col-sm-8">
							    <input type="text" class="form-control" name="Email" placeholder="enter name">
							   </div>
						   </div> 
						   
						   <div class="row form-group">
						       <div class="col-sm-4"><label>password</label></div>
							   <div class="col-sm-8">
							    <input type="password" class="form-control" name="password" placeholder="enter password">
							   </div>
						   </div> 
						   </div>
						   
						    <div class="panel-footer">
							  <div class="row form-group">
							    <div class="col-sm-12 text-center">
								    <button class="btn btn-primary" type="submit">login<span class="glyphicon glyphicon-arrow-right"></span></button>
								
								</div>
							  
							  </div>
							  </div>
							     
							
							
						   
						   
						 </div>
						 </form>
						 </div>
					 </div>
				   </div>
				
				
				</div>
			 