<div id="our-team" ng-controller="myctrl4"  style="margin:0px 0px 100px 0px;">
		<div class="container">
			<div class="text-center">
				<h3>Our Team</h3>
				<p>Our team. Bain is full of smart, driven people who care a lot more about getting it done, and the relationships we build, than about proving how clever we are. Bain's people truly become a valuable extension of our clients' teams.</p>
			</div>
			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<img src="bac.jpg" alt="" class="img-circle" height="100px" width="100px" >
						<h2>prasanth</h2>
						<h4></h4>
						<p>feel better than they thought possible</p>
					</div>
				</div>
				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<img src="bac4.jpg" alt="" class="img-circle" height="100px" width="100px">
						<h2>Rahul</h2>
						<h4></h4>
						<p>feel better than they thought possible</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<img src="bac2.jpg" alt="" class="img-circle" height="100px" width="100px">
						<h2>Dinesh</h2>
						<h4></h4>
						<p>feel better than they thought possible</p>
					</div>
				</div>	
			</div>
		</div>
		<div class="team">
			<div class="container">
				<div class="row">
					<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="4.jpg" class="img-responsive" alt="">
							<h2>Kumar ks</h2>
							<h4></h4>
							<p>feel better than they thought possible</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="1.jpg" class="img-responsive" alt="">
							<h2>Amalchantran</h2>
							<h4></h4>
							<p>feel better than they thought possible</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="2.jpg" class="img-responsive" alt="">
							<h2>Bharanitharan</h2>
							<h4></h4>
							<p>feel better than they thought possible</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="3.jpg" class="img-responsive" alt="">
							<h2>sathish kumar</h2>
							<h4></h4>
							<p>feel better than they thought possible</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/#our-team-->
	